<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find newlucas)/maps/map2.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL {Adaptive Monte-Carlo Localization} used for localization -->
    <include file="$(find newlucas)/launch/include/amcl.launch" />
    
    <!-- Calls navigation stack packages for compatible Linorobot base -->
    <include file="$(find newlucas)/launch/include/move_base_2wd.launch" />

<!-- Run RVIZ -->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find newlucas)/rviz/navigate.rviz" output="screen"/>
</launch>
